<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>728386645300-ig9aqabvvjtafh9g6orgg1u9d7cv06k6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.728386645300-ig9aqabvvjtafh9g6orgg1u9d7cv06k6</string>
	<key>API_KEY</key>
	<string>AIzaSyAwKtMkX1_1d6urX0gnBvx-YGfO4RJxNV8</string>
	<key>GCM_SENDER_ID</key>
	<string>728386645300</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterMyApp</string>
	<key>PROJECT_ID</key>
	<string>e-commer-coder</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commer-coder.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:728386645300:ios:15ea7214c1a502e6f30961</string>
	<key>DATABASE_URL</key>
	<string>https://e-commer-coder.firebaseio.com</string>
</dict>
</plist>